
body {
  background-color: #000000;
  font-family: Roboto;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.main_head{
	color:white;
	text-align:center;
}
.info{
	color:white;
	font-family:roboto;
	
}
.details{
	color:#c0c0c0;
	font-family:roboto;
	
}